@page "/kontakt"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- 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 gh token-->
<div class="text-center">
<h1>kontakt</h1>
<p>maj maj flot</p>
</div>
