@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <table>
  <tr>
    <th>Dag</th>
    <th>Ret</th>
  </tr>
  <tr>
    <td>mandag</td>
    <td>kebab</td>
  </tr>
</table>
</div>
